@{
    ViewBag.Title = "Registration Confirmation";
}
<div id="crudForm">
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
    </p>
    <p class="text-danger">
        You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    </p>
</div>
