
body {
    height: 100%;
    background-image: url('../Img/abstract-grey-tech-geometric-motion-background-video-corporate-animation-ultra-hd-4k-3840x2160_b4-2cnvd__F0000.png');
    background-size: cover;
}
#py-5 bg-dark{
    position: fixed;
    width: 100%;
    height:10px;
    background: #6cf !important;
    vertical-align: baseline;

}
#login{
    color: white;
    text-align:center;
    background: rgba(25, 25, 25,.85);
    -webkit-box-shadow: 10px 10px 6px -6px #555;
    -moz-box-shadow: 10px 10px 6px -6px #555;
    box-shadow: 10px 10px 6px -6px #555;
    margin-top:5%;
    width: 40%;
    border-radius: 25px;
}
#loginLogo{
    width: 20%;
    height: auto;
}
#center{
    margin-right:0%;
    margin-left:16%;
}
#textBox{
    margin-left:10%;
}

