
body {
    height: 100%;
    background-image: url('../Img/technology-blue-tech-background-with-shining-abstract_29865-24.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#py-5 bg-dark{
    position:sticky;
    width: 100%;
    height:10px;
    background: #498CC5 !important;
    vertical-align: baseline;


}

#login{
    color: white;
    text-align:center;
    background: rgba(25, 25, 25,.85);
    -webkit-box-shadow: 0px 10px 6px -6px #252525;
    -moz-box-shadow: 0px 10px 6px -6px #252525;
    box-shadow: 0px 10px 6px -6px #252525;
    margin-top:5%;
    width: 40%;
    border-radius: 25px;
}
#loginLogo{
    width: 20%;
    height: auto;
}
#center{
    margin-right:0%;
    margin-left:16%;
}
#textBox{
    margin-left:10%;
}

