<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" id="indexHead">
        AR Electronics
    </h1>
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item active"></li>
    </ol>*@
    <!-- Intro Content -->
    <div class="row" id="about">
        <div class="col-lg-6">
            @*<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">*@
            <img id="targetLady" src="~/Content/Img/Target-Lady.jpg" alt="Kristin Wigg as the Target Lady" />
        </div>
        <div class="col-lg-6">
            <h2>Love what you do!</h2>
            <p>Technology is part of our lives and it could be part of your career. By joining our talent community, you will be able to explore career opportunities and learn more about AR Electronics</p>
            <p>Interested in finding out more about job opportunities in a company considered to be the leading provider of technology products, services and solutions? Discover your career at AR Electronics! We offer employees exciting work in a fun, dynamic environment that encourages learning and growth.</p>
            <p>At AR Electronics, we value everyone’s talents, life experiences, beliefs and backgrounds. So you can relax and be yourself. Part of the reason we’re so good at creating incredible experiences for our diverse customers is because of our diverse culture. And we love it that way.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2 id ="team">Our Founder</h2>
    <div class="row">
        <div class="col-lg-4 mb-4 offset-4 ">
            <div class="card h-100 text-center">
                <img id="teamPhotos" class="card-img-top" src="~/Content/Img/portrait.jpg" alt="Strapping young lad">
                <div class="card-body" id="cardBody">
                    <h4 class="card-title">Alex Roth</h4>
                    <h6 class="card-subtitle mb-2 text-muted">President/CEO</h6>
                    <p class="card-text"><em>"People choose to shop at AR Electronics because of our strong customer service values and people like you who show them how great it is to be an A.R.E employee"</em></p>
                </div>
                @*<div class="card-footer">
                    @*<a href="#">name@example.com</a>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Our Customers -->
    <!-- /.row -->
</div>
<!-- /.container -->